# ignore data folder & all sub-folders
data
debug
release

# ignore .vscode folder (Visual Studio code settings)
.vscode

# ignore obj files
.o
.exe
.dll

# ignore stash files
.qmake.stash

# ignore __pycache__
__pycache__

# ignore pyc files
*.pyc

# ignore pt (checkpoint) files
*.pt
