# ignore data folder & all sub-folders
data
debug
release
profile
Debug
Release
Profile
Makefile
Makefile.Debug
Makefile.Release

# ignore .vscode folder (Visual Studio code settings)
.vscode
.vs
.idea
.qt_for_python

# ignore intermediate build files & "executables"
moc_*.cpp
*.o
*.obj
*.exe
*.dll
*.pch
*.ilk
*.log
*.pdb
*.idb
*.tlog
*.recipe
*.pro.user
*.cache
*.qtc_clang
*.user

ui_*


# ignore stash files
.qmake.stash

# ignore __pycache__
__pycache__

# ignore pyc files
*.pyc

# ignore pt (checkpoint) files
*.pt

